@theme {
  --text-h1: 2.5rem;
  --text-h1-font-weight: 700;
  --text-h2: 2rem;
  --text-h2-font-weight: 700;
  --text-h3: 1.5rem;
  --text-h3-font-weight: 700;
  --text-main: 1rem;
  --text-main-font-weight: 400;
  --text-main-color: var(--color-text-main);
  --text-sub: 0.875rem;
  --text-sub-font-weight: 400;
  --text-caption: 0.75rem;
  --text-caption-font-weight: 400;
  --text-overline: 0.625rem;
  --text-overline-font-weight: 400;
  --text-button: 0.875rem;
  --text-button-font-weight: 500;
  --text-label: 0.75rem;
  --text-label-font-weight: 500;
  --color-white: #FFFFFF;
  --color-text-secondary: #98A0A2;
  --color-text-main: #1C232B;
  --color-primary: #7EC548;
}